h1 {
  position: relative;
  text-align: center;
  padding-top: 1em;
}

body {
  --bs-body-font-family: var(--bs-font-monospace);
  --bs-body-line-height: 1.4;
  --bs-body-bg: var(--bs-gray-100);
}
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.signup-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  padding: 2em;
  justify-content: center;
}

.signup-card input {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 0.1em solid #ddd;
  border-radius: 0.5em;
}

.signup-card button {
  width: 50%;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.errmessage {
  color: red;
  text-align: center;
}
